<%# Partial to create a table with two figures with caption %>
<%# From https://vgpena.github.io/partials-are-magic/ %>
<%# see also https://middlemanapp.com/basics/partials/ %>


<table>
  <tr>
    <td align="center" valign="center">
      <%= image_tag locals[:src1], { alt: locals[:alt1], width: locals[:width], height: locals[:height] } %> <br>
     </td>
     <td align="center" valign="center">
       <%= image_tag locals[:src2], { alt: locals[:alt2], width: locals[:width], height: locals[:height] } %>
     </td>
     <caption>
       <p><%= locals[:price] %></p>
       <p><%= locals[:caption] %></p>
     </caption>
</table>
