---
title: Duka La Shanga
---

<h1>
 Duka La Shanga
</h1>


<h1>Product and Quantity Selection</h1>

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/shanga5mmblue.jpg',
  :title => 'Blue 5mm beads',
  :price => '700/=',
  :alt => 'Picture of blue 5mm beads',
  :width => '200px',
  :caption => 'Blue 5mm beads',
})%>

<input type="number" id="blue5mm" onclick="changequantity('blue5mm')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/shanga5mmblack.jpg',
  :title => 'Black 5mm beads',
  :price => '700/=',
  :alt => 'Picture of black 5mm beads',
  :width => '200px',
  :caption => 'Black 5mm beads',
})%>

<input type="number" id="black5mm" onclick="changequantity('black5mm')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/shanga5mmdarkblue.jpg',
  :title => 'Dark blue 5mm beads',
  :price => '700/=',
  :alt => 'Picture of dark blue 5mm beads',
  :width => '200px',
  :caption => 'Dark blue 5mm beads',
})%>

<input type="number" id="darkblue5mm" onclick="changequantity('darkblue5mm')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/shanga5mmorange.jpg',
  :title => 'Orange 5mm beads',
  :price => '700/=',
  :alt => 'Picture of orange 5mm beads',
  :width => '200px',
  :caption => 'Orange 5mm beads',
})%>

<input type="number" id="orange5mm" onclick="changequantity('orange5mm')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/shanga5mmpurple.jpg',
  :title => 'Purple 5mm beads',
  :price => '700/=',
  :alt => 'Picture of purple 5mm beads',
  :width => '200px',
  :caption => 'Purple 5mm beads',
})%>

<input type="number" id="purple5mm" onclick="changequantity('purple5mm')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/shanga5mmred.jpg',
  :title => 'Red 5mm beads',
  :price => '700/=',
  :alt => 'Picture of red 5mm beads',
  :width => '200px',
  :caption => 'Red 5mm beads',
})%>

<input type="number" id="red5mm" onclick="changequantity('red5mm')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/shanga5mmwhite.jpg',
  :title => 'White 5mm beads',
  :price => '700/=',
  :alt => 'Picture of white 5mm beads',
  :width => '200px',
  :caption => 'White 5mm beads',
})%>

<input type="number" id="white5mm" onclick="changequantity('white5mm')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/shanga5mmyellow.jpg',
  :title => 'Yellow 5mm beads',
  :price => '700/=',
  :alt => 'Picture of yellow 5mm beads',
  :width => '200px',
  :caption => 'Yellow 5mm beads',
})%>

<input type="number" id="lime5mm" onclick="changequantity('lime5mm')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => {
  :src => '/middleman-flutterwave-duka/images/shanga5mmlime.jpg',
  :title => 'Lime 5mm beads',
  :price => '700/=',
  :alt => 'Picture of lime 5mm beads',
  :width => '200px',
  :caption => 'Lime 5mm beads',
})%>

<input type="number" id="lime5mm" onclick="changequantity('lime5mm')" value="0" min="0" max="20" step="1">

<%= partial(:image, :locals => { 
  :src => '/middleman-flutterwave-duka/images/shanga6mmblue.jpg',
  :title => 'Blue 6mm beads',
  :price => '3300/=',
  :alt => 'Picture of blue 6mm beads',
  :width => '200px',
  :caption => 'Blue 6mm beads',
})%>

<input type="number" id="blue6mm" onclick="changequantity('blue6mm')" value="0" min="0" max="20" step="1">


        <h1>Delivery Location Selection</h1>
<div id="map-container" >
              <div id="mapid"></div>
        </div>
        <h1>Payment</h1>
               <form id="buy">
 <ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
  </li>
  <li>
          <label for="telephone">Telephone:</label>
          <input type="tel" id="telephone" name="user_telephone">
  </li>
  <li>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_email">
  </li>
  <li>
    <label for="address">Delivery Address:</label>
    <textarea id="address" name="user_address"></textarea>
  </li>
  <li>
    <label for="msg">Additional information:</label>
    <textarea id="msg" name="user_message"></textarea>
  </li>
 </ul>
 <li class="button">
  <button type="button" id="pay" onClick="payWithRave()">Pay</button>
</li>
</form>

